services:
  - type: web
    name: vactit-api
    runtime: node
    region: singapore
    plan: free
    branch: dev
    rootDir: src/services/api
    buildCommand: NODE_ENV=development npm install && npm run build
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    autoDeploy: true
